name: traefik
services:
  traefik:
    image: traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
    labels:
      - dev.orbstack.domains=*.traefik.local

      - traefik.http.services.traefik.loadbalancer.server.port=443
      - traefik.http.routers.traefik.rule=Host(`traefik.local`)
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.tls
    command:
      - --ping=true

      - --api.dashboard=true
      - --api.insecure=true

      - --entrypoints.http.address=:80
      - --entrypoints.http.http.redirections.entrypoint.to=https
      - --entrypoints.https.address=:443
      - --entrypoints.https.http.tls=true

      - --providers.docker.defaultRule=Host(`{{ index .Labels "com.docker.compose.service"}}.{{ index .Labels "com.docker.compose.project"}}.traefik.local`) # work

      - --log.level=TRACE
      - --accesslog.filepath=/var/log/traefik/access.log
      - --accesslog.format=json
      - --accesslog.filters.statuscodes=200-299,400-499,500-599
      - --accesslog.fields.defaultmode=keep
      - --accesslog.fields.headers.defaultmode=drop
      - --accesslog.fields.headers.names.User-Agent=keep
      - --accesslog.fields.headers.names.Referer=keep
      - --accesslog.addinternals
      - --experimental.fastProxy

      - --certificatesresolvers.myresolver.acme.tlschallenge=true
      - --certificatesresolvers.myresolver.acme.email=postmaster@example.com
      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json

    healthcheck:
      test: wget -qO- http://localhost:8080/ping
      interval: 5s
      timeout: 3s
      start_period: 1s
      start_interval: 1s
      retries: 5

  excalidraw:
    image: excalidraw/excalidraw
    labels:
      - traefik.http.routers.excalidraw.rule=Host(`excalidraw.traefik.local`)
      - traefik.http.routers.excalidraw.middlewares=nginx-auth
    healthcheck:
      start_period: 2s
      interval: 1s
      timeout: 3s
      retries: 10
  nginx-auth:
    image: nginx:alpine
    labels:
      - "traefik.http.middlewares.nginx-auth.forwardauth.address=http://nginx-auth"
      - "traefik.http.middlewares.nginx-auth.forwardauth.authResponseHeaders=X-Forwarded-User"
    configs:
      - source: auth.conf
        target: /etc/nginx/conf.d/default.conf
      - source: admin_admin
        target: /etc/nginx/.htpasswd

configs:
  admin_admin:
    content: admin:$$apr1$$7itccb6U$$YChIYCSvsmd9qP3koW29Q.
  auth.conf:
    content: |
      server {
          listen 80;
          server_name _;

          location / {
              auth_basic "Restricted Area";
              auth_basic_user_file /etc/nginx/.htpasswd;

              proxy_pass http://excalidraw;
              proxy_set_header Host $$host;
              proxy_set_header X-Real-IP $$remote_addr;
              proxy_set_header X-Forwarded-For $$proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $$scheme;
          }
      }
